<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Chào mừng bạn <%= username %> trở lại</p>
    <a href="/auth/sign-out">Đăng xuất</a>
  </body>
</html>
