@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

input,
select,
textarea,
button {
    font-family: "Poppins", sans-serif;
}

.header {
    padding-top: 40px;
    background-color: #fff;
}

.header .row {
    align-items: center;
    justify-content: space-between;
}

.bar i {
    font-size: 22px;
}

.bar {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.55);
}

.navbar {
    margin-top: 20px;
    margin-bottom: 10px;
}

.nav-link {
    color: #4d4d4d;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 16px;
}

.nav-link:hover {
    color: #f55253;
}

.link-active {
    color: #f55253;
}

.search-form {
    position: relative;
    margin: 0 auto;
    width: fit-content;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
}

.search-form .icon {
    position: absolute;
}

.search-icon {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 17px;
    color: #212529;
}

.cart-icon {
    font-size: 19px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 4px 0;
    position: relative;
    color: #212529;
}

.cart-icon::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #f2f2f2;
    top: 0;
    left: -16px;
}

.cart-icon::after {
    content: "2";
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #f54b4b;
    text-align: center;
    line-height: 28px;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    top: -24px;
    right: -24px;
    box-shadow: -6px 9px 24px -6px rgba(238, 67, 67, 0.68);
}

.search-form input {
    width: 288px;
    height: 48px;
    border-radius: 8px;
    border: none;
    padding: 0 40px;
}

.search-form input::placeholder {
    color: #4d4d4d;
    font-weight: 500;
    font-size: 1.4rem;
}

.hero {
    margin-top: 20px;
    padding: 60px 0;
    background-color: #fff;
    z-index: 1;
    position: relative;
}

.more-than-faster {
    width: 193px;
    height: 48px;
    background-color: #fdecec;
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.more-than-faster h3 {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.14;
    color: #f55556;
}

.more-than-faster img {
    width: 26px;
    height: 26px;
    object-fit: cover;
    margin-left: 10px;
}

.hero .hero-title {
    font-size: 30px;
    color: #2e2e2e;
    line-height: 1.9;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}

.hero .hero-title span {
    color: #f54748;
    font-weight: 500;
}

.hero {
    margin-top: -250px;
    transition: 0.2s linear;
}

#menu:checked ~ .hero {
    margin-top: 20px;
}

.hero-desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1;
    letter-spacing: 0.005em;
    color: #676767;
    margin: 22px 0;
    text-align: center;
}

.hero-img img {
    width: 100%;
}

.hero-order .order-link {
    display: inline-block;
    padding: 15px 21px;
    background-color: #f86061;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 12px;
    font-weight: 500;
    line-height: 1.7;
    text-align: center;
    margin-right: 40px;
    transition: 0.2s linear;
    border: 1px solid transparent;
}

.hero-order {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.hero-order img {
    width: 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 50%;
    margin-right: 5px;
}

.hero-order span {
    font-size: 1.2rem;
    font-weight: 500;
}

/* Serve */
.serve {
    background-color: #fef5f5;
    padding: 50px 0;
}

.section-question {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    letter-spacing: 0.01em;
    color: #f54748;
    text-align: center;
}

.favorite .section-question {
    color: #03a66b;
}

.section-title {
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.83;
    margin: 10px 0 30px;
}

.service-item {
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 30px;
    padding: 30px 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    position: relative;
}

/* .service-item::after {
    content: "";
    position: absolute;
    border-radius: 12px;
    inset: 0;
    background-color: #fe6a6a;
    transform: rotate(-1deg);
    transform-origin: left;
    z-index: 1;
} */

.service-item img {
    height: 60px;
}

.service-name {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.83;
    letter-spacing: -0.01em;
    margin: 60px 0 15px 0;
}

.service-desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8;
    color: #676767;
    text-align: center;
}

.delivery-content,
.favorite-content {
    margin: 80px 0 20px;
}

.section-desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.14;
    color: #676767;
    text-align: center;
    margin-bottom: 50px;
}

.link-btn {
    display: block;
    background: #f86061;
    border-radius: 12px;
    width: 180px;
    padding: 18px 20px;
    text-align: center;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    border: 1px solid transparent;
    color: #fffafa;
    margin: 0 auto;
    transition: 0.2s linear;
}

.order-link:hover,
.link-btn:hover {
    background: transparent;
    color: #f86061;
    border: 1px solid #f86061;
}

.delivery .section-question {
    color: #f9ba45;
}

.download {
    padding: 50px 0;
    background-color: #fef5f5;
}

.download .hero-img {
    width: 100%;
}

.download .mobile-img {
    width: auto;
    display: block;
    margin: 0 auto;
}

.favorite,
.delivery,
.download {
    padding-bottom: 70px;
}

.download-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.download-btn {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid #eedcdc;
    border-radius: 12px;
}

.download-btn span {
    font-size: 1.4rem;
    color: #2e2e2e;
    font-weight: 500;
    margin-left: 7px;
}

.footer {
    padding: 50px 0 30px;
}

.footer-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-link {
    color: #676767;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.85;
}

.footer-link:hover {
    color: #000;
}

.footer-title {
    color: #2e2e2e;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.1;
    letter-spacing: -0.01em;
}

.footer-column .section-desc {
    margin: 0;
}

.footer .row:first-child {
    gap: 50px;
    margin-bottom: 20px;
}

.footer .row:last-child {
    position: relative;
    padding-top: 10px;
}

.footer .row:last-child::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #ecececd7;
    top: 0;
}

.copyright {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #8c8c8c;
    text-align: center;
    margin-top: 50px;
}

.copyright-links {
    display: flex;
    justify-content: center;
}

.copyright-links a {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #747474;
    margin: 0 10px;
    transition: 0.2s linear;
}

.copyright-links a:hover {
    color: #000;
}

@media screen and (min-width: 768px) {
    .container {
        --container-width: 768px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        --container-width: 992px;
    }
    .bar {
        display: none;
    }

    .header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .navbar ul {
        display: flex;
    }

    .search-form {
        margin: 0;
    }

    .hero {
        margin-top: 20px;
    }

    .more-than-faster {
        margin: 0;
    }

    .hero .hero-title {
        text-align: left;
        font-weight: 700;
        font-size: 7.4rem;
        line-height: 1.19;
    }

    .hero-desc {
        text-align: left;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 1.67;
        width: 85%;
    }

    .hero-order {
        justify-content: flex-start;
    }

    .hero-order .order-link {
        padding: 26px 40px;
        font-weight: 500;
        font-size: 2rem;
        line-height: 1;
    }

    .hero-order img {
        width: 70px;
    }

    .hero-order span {
        font-size: 2rem;
    }

    .serve .row {
        flex-wrap: nowrap;
        gap: 40px;
    }

    .section-question {
        font-size: 1.8rem;
        font-weight: 500;
    }

    .section-title {
        font-size: 4rem;
        font-weight: 700;
        width: 650px;
        margin: 0 auto 70px;
        line-height: 1.35;
    }

    .serve {
        padding: 90px 0;
    }

    .download .section-desc,
    .download .section-title,
    .download .section-question,
    .delivery .section-desc,
    .delivery .section-title,
    .delivery .section-question,
    .favorite .section-desc,
    .favorite .section-title,
    .favorite .section-question {
        text-align: left;
    }

    .download .section-title,
    .delivery .section-title,
    .favorite .section-title {
        width: 100%;
        margin-bottom: 30px;
    }

    .section-desc {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.67;
        text-align: left;
    }

    .delivery .link-btn,
    .favorite .link-btn {
        margin: 0;
    }

    .delivery .hero-img {
        order: 1;
    }

    .delivery .row {
        justify-content: space-between;
    }

    .download-links {
        justify-content: flex-start;
    }

    .download-btn {
        padding: 18px 25px;
    }

    .download-btn span {
        font-size: 2rem;
    }

    .footer-column {
        align-items: flex-start;
    }

    .footer .section-desc {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.625;
        max-width: 90%;
        margin: 25px 0 10px 0;
    }

    .footer-list {
        align-items: flex-start;
        gap: 0;
    }

    .footer-link {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.5;
    }

    .footer .row {
        align-items: flex-start;
    }

    .footer .row:first-child {
        gap: 0;
        margin-bottom: 50px;
    }

    .footer-column:first-child,
    .footer-column:last-child {
        gap: 0;
    }

    .copyright {
        margin-top: 0;
        text-align: left;
    }

    .copyright-links {
        justify-content: flex-end;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        --container-width: 1200px;
    }
}
