body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.tetrominos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-112px, -96px);
}
.tetromino {
    width: 96px;
    height: 112px;
    position: absolute;
    transition: all ease 0.3s;
    background: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 684"%3E%3Cpath fill="%23010101" d="M305.7 0L0 170.9v342.3L305.7 684 612 513.2V170.9L305.7 0z"/%3E%3Cpath fill="%23fff" d="M305.7 80.1l-233.6 131 233.6 131 234.2-131-234.2-131"/%3E%3C/svg%3E')
        no-repeat top center;
}
.box1 {
    animation: tetromino1 1.5s ease-out infinite;
}
.box2 {
    animation: tetromino2 1.5s ease-out infinite;
}
.box3 {
    animation: tetromino3 1.5s ease-out infinite;
    z-index: 2;
}
.box4 {
    animation: tetromino4 1.5s ease-out infinite;
}
@keyframes tetromino1 {
    0%,
    40% {
        /* compose logo */
        /* 1 on 3 */
        /* L-shape */
        transform: translate(0, 0);
    }
    50% {
        /* pre-box */
        transform: translate(48px, -27px);
    }
    60%,
    100% {
        /* box */
        /* compose logo */
        transform: translate(96px, 0);
    }
}
@keyframes tetromino2 {
    0%,
    20% {
        /* compose logo */
        /* 1 on 3 */
        transform: translate(96px, 0px);
    }
    40%,
    100% {
        /* L-shape */
        /* box */
        /* compose logo */
        transform: translate(144px, 27px);
    }
}
@keyframes tetromino3 {
    0% {
        /* compose logo */
        transform: translate(144px, 27px);
    }
    20%,
    60% {
        /* 1 on 3 */
        /* L-shape */
        /* box */
        transform: translate(96px, 54px);
    }
    90%,
    100% {
        /* compose logo */
        transform: translate(48px, 27px);
    }
}
@keyframes tetromino4 {
    0%,
    60% {
        /* compose logo */
        /* 1 on 3 */
        /* L-shape */
        /* box */
        transform: translate(48px, 27px);
    }
    90%,
    100% {
        /* compose logo */
        transform: translate(0, 0);
    }
}

.hide {
    display: none;
}

.main {
    width: 800px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    margin: 10px 0;
    width: 80%;
    margin-left: 50%;
    transform: translateX(-50%);
}

img ~ em {
    display: block;
    text-align: center;
}

.avatar {
}

blockquote {
    border-left: 3px solid #f05123;
    color: #757575;
    margin-left: 0;
    padding: 0 0 2px 20px;
    display: flex;
    align-items: center;
}

a {
    color: #f05123;
    text-decoration: underline;
}

.post-title {
    color: #222;
    font-size: 40px;
    font-weight: 700;
}

.user-info {
    display: flex;
    align-items: center;
}

.avatar-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 0;
    margin-right: 20px;
    transform: translateX(0);
}

.pro {
    border: 5px solid #f5c70e;
}

.img-container {
    position: relative;
}

.crown {
    width: 20px;
    position: absolute;
    top: -15px;
    right: -4px;
}

.blue-tick {
    width: 20px;
    height: 20px;
    object-fit: cover;
    transform: translateX(0);
    margin: 0;
    margin-left: 10px;
}

code {
    background-color: rgba(96, 125, 139, 0.2);
    border-radius: 3px;
    padding: 3px 4px;
}

ol li,
ul li {
    line-height: 1.5;
}
