<div class="d-flex flex-column gap-3 w-50 mx-auto">
  <% if (url.password) { %> Vui lòng nhập mật khẩu để mở liên kết
  <form action="" method="post">
    <div class="mb-3">
      <label for="password" class="form-label">Mật khẩu</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
      />
      <% if (error) { %>
      <p style="color: red; margin-top: 10px"><%= error %></p>
      <% } %>
    </div>
    <button class="btn btn-danger">Mở liên kết</button>
  </form>
  <% } %>
</div>
