<div class="d-flex flex-column gap-3 w-50 mx-auto">
  <a href="<%= url.original_url %>" class="btn btn-danger"
    >Nhấn vào đây để tiếp tục</a
  >
  <a
    href="https://www.facebook.com/sharer/sharer.php?u=<%= url.original_url %>&hashtag=%23F88_share"
    class="btn btn-outline-danger"
    target="_blank"
    >Chia sẻ lên Facebook</a
  >
  <a href="#" class="btn btn-outline-danger btn-qrcode"
    >Gửi tới điện thoại (QR code)</a
  >
  <img
    src="<%= url.qrcode %>"
    alt="qrcode"
    width="270"
    height="270"
    class="d-none img-qrcode mx-auto"
  />
  <a href="/shorten-url" class="btn btn-outline-danger">Rút gọn liên kết mới</a>
</div>
<script>
  const btnQrcode = document.querySelector('.btn-qrcode')
  const imgQrcode = document.querySelector('.img-qrcode')
  btnQrcode.addEventListener('click', () => {
    imgQrcode.classList.toggle('d-none')
  })
</script>
